@charset "utf-8";

// Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

// Set your brand colors
$purple: #8A4D76;
$leather: #31250f;
$brown: #757763;
$light-brown:#d0d1c6;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$mystical-black: #05021b;
$dimensions: 16 24 32 48 64 96 128 200 300 500;


// Update Bulma's global variables
$family-sans-serif: "Inknut Antiqua";
$grey-dark: $beige-lighter;
$grey-light: $beige-light;
$primary: $purple;
// $link: $pink;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: $mystical-black;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$card-header-padding: 0em;
$card-header-weight: 400;
$card-background-color: $light-brown;
$box-padding: 0.3rem;
$box-background-color: $leather;

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/components/_all.sass";
@import "../../../node_modules/bulma/sass/elements/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/grid/_all.sass";
@import "../../../node_modules/bulma/sass/layout/_all.sass";
